<div class="column medium-6" data-relevance="<%= model.score %>" data-matching="<%= model.matching %>">
  <div class="card">
    <div class="row card-section">
      <div class="column small-3">
        <% if model.avatar.attached? %>
          <%= image_tag model.avatar_thumb_path, alt: "#{t("card.avatar_alt", title: title, scope: "decidim.surveys.surveys.feedback")}" %>
        <% else %>
          <%= image_pack_tag "media/images/default-avatar.svg", alt: "member-avatar" %>
        <% end %>
      </div>

      <div class="column small-9">
        <h4><%= title %></h4>

        <h5><%= subtitle %></h5>

        <%= description %>

        <p>
          <%= t("card.effort", scope: "decidim.surveys.surveys.feedback") %>: <%= effort %>
        </p>

        <p class="text-small">
          <%= t("card.keywords", scope: "decidim.surveys.surveys.feedback") %>: <strong><%= key_words %></strong>
        </p>

        <%= link_button %>
      </div>
    </div>
  </div>
</div>
