<div class="sat-results" id="key-recommendations">
  <%= render "sat_nav", active: "recommendations" %>

  <h4>Key recommendations</h4>

  <% sat_set.results.each do |result| %>
    <div class="row column class sat-result">
      <h3>
        <%= translated_attribute result.title %>
        <span class="info">
          <span class="label yellow">Relevance<span><%= result.score %></span></span>
          <span class="label yellow-light">Matching tags<span><%= result.matching %>%</span></span>
        </span>
      </h3>

      <div class="sat-result--description closed">
        <%= translated_attribute(result.description).html_safe %>
        <div class="button-expand">↕ Expand</div>
        <div class="button-close">↕ Close</div>
      </div>
    </div>
  <% end %>
</div>

<div class="sat-results" id="resources">
  <h4>Resources</h4>

  <p>nothing here</p>
</div>

<div>
  <p class="help-text">
    Results are generated according to this answer's tags: <strong><%= "##{sat_set.answer_tags.keys.join(" #")}" %></strong>
  </p>
</div>

<script>
  $(function(){
    $(".sat-result--description .button-expand,.sat-result--description .button-close").on("click", function() {
      $(this).closest(".sat-result--description").toggleClass(["expand", "closed"])
    });
  });
</script>
