<div class="row columns">
  <%= render partial: "questionnaire_not_published" %>

  <%= render partial: "questionnaire_description" %>

  <ul class="accordion sat-feedback-accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

    <!--
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">
        <h4><%# t(".sat_questions") %></h4>
        <h5><%# t(".sat_questions_description") %></h5>
      </a>

      <div class="accordion-content" data-tab-content>
        <%# render partial: "questionnaire_preview" %>
      </div>
    </li>
    -->
    <% if sat_lite&.image&.present? %>
      <div class="columns large-10 medium-centered margin-bottom-1">
        <%= image_tag(sat_lite.attached_uploader(:image).path, size: "1000x500") %>
      </div>
    <% end %>

    <li class="accordion-item <% if key_recommendations.present? %>is-active <% end %>" data-accordion-item>
      <a href="#" class="accordion-title">
        <h4><%= t(".key_recommendations") %></h4>
        <h5><%= t(".key_recommendations_description") %></h5>
      </a>

      <div class="accordion-content" data-tab-content>
        <div class="row">
          <% key_recommendations.each do |result| %>
            <%= cell "indices/sat_feedback", result %>
          <% end %>
        </div>
      </div>
    </li>

    <li class="accordion-item <% if other_recommendations.present? %>is-active <% end %>" data-accordion-item>
      <a href="#" class="accordion-title">
        <h4><%= t(".resources") %></h4>
        <h5><%= t(".resources_description") %></h5>
      </a>

      <div class="accordion-content" data-tab-content>
        <div class="row">
          <% other_recommendations.each do |result| %>
            <%= cell "indices/sat_feedback", result %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>

  <div>
    <% if @side_surveys&.dig(:previous_survey)&.survey&.published? %>
      <%= link_to "<< Previous Survey", main_component_path(@side_surveys[:previous_survey].survey), class: "button button--sc js--submit cell small-3 margin-2" %>
    <% end %>
    <% if @side_surveys&.dig(:next_survey)&.survey&.published? %>
      <%= link_to "Next Survey >>", main_component_path(@side_surveys[:next_survey].survey), class: "button button--sc js--submit cell small-3 margin-2 float-right" %>
    <% end %>
    <% if @survey_sections_group %>
      <div>
        <%= link_to "Back", main_component_path(@survey_sections_group), class: "button button--sc js--submit cell small-3 margin-2" %>
      </div>
    <% end %>
  </div>
</div>
