<div class="row columns">
  <%= render partial: "questionnaire_not_published" %>
  <%= render partial: "questionnaire_description" %>
  <%= link_to t("actions.export", scope: "decidim.forms.questionnaires.answers"), export_user_answers_survey_path, class: "button tiny button--title export" %>
  <ul class="accordion sat-feedback-accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <!--
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">
        <h4><%# t(".sat_questions") %></h4>
        <h5><%# t(".sat_questions_description") %></h5>
      </a>

      <div class="accordion-content" data-tab-content>
        <%# render partial: "questionnaire_preview" %>
      </div>
    </li>
    -->
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">
        <h4><%= t(".key_recommendations") %></h4>
        <h5><%= t(".key_recommendations_description") %></h5>
      </a>
      <div class="accordion-content" data-tab-content>
        <div class="row">
          <% key_recommendations.each do |result| %>
            <%= cell "indices/sat_feedback", result %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">
        <h4><%= t(".resources") %></h4>
        <h5><%= t(".resources_description") %></h5>
      </a>
      <div class="accordion-content" data-tab-content>
        <div class="row">
          <% other_recommendations.each do |result| %>
            <%= cell "indices/sat_feedback", result %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
  <div>
    <% if @side_surveys[:previous_survey] %>
      <%= link_to "<< Previous Survey", main_component_path(@side_surveys[:previous_survey].survey), class: "button button--sc js--submit cell small-3 margin-2 float-left" %>
    <% end %>
    <% if @side_surveys[:next_survey] %>
      <%= link_to "Next Survey >>", main_component_path(@side_surveys[:next_survey].survey), class: "button button--sc js--submit cell small-3 margin-2 float-right" %>
    <% end %>
  </div>
</div>
