<div class="row weblyzard">
  <div class="columns">
    <h4 class="section-heading">AUTOMATED DATA CONTENT ANALYSIS</h4>
  </div>

  <div class="columns">
    <ul class="tabs" data-tabs id="weblyzard-widgets-tabs">
      <li class="tabs-title is-active"><a data-tabs-target="keywordgraph" href="#keywordgraph" aria-selected="true">Keyword Graph</a></li>
      <li class="tabs-title"><a data-tabs-target="geomap" href="#geomap">Geomap</a></li>
      <li class="tabs-title"><a data-tabs-target="tagcloud" href="#tagcloud">Tag Cloud</a></li>
    </ul>

    <div class="tools">
      <fieldset>
        <legend>Sources:</legend>
        <% %w(decidim facebook news twitter web).each do |source| %>
          <input type="checkbox" class="source" checked value="<%= source %>" id="weblyzard-tool-<%= source %>"><label for="weblyzard-tool-<%= source %>"><%= source %></label>
        <% end %>
      </fieldset>
    </div>

    <div class="tabs-content vertical" data-tabs-content="weblyzard-widgets-tabs">
      <div class="tabs-panel is-active" id="keywordgraph">
        <%= weblyzard_iframe("keywordgraph", document.keywords) %>
      </div>
      <div class="tabs-panel" id="geomap">
        <%= weblyzard_iframe("geomap", document.keywords) %>
      </div>
      <div class="tabs-panel" id="tagcloud">
        <%= weblyzard_iframe("tagcloud", document.keywords) %>
      </div>
    </div>

    <div class="info">
      Color codes sentiment analysis: <span class="label negative">Negative</span> vs <span class="label positive">Positive</span>
    </div>
  </div>
</div>